<a href="https://colab.research.google.com/github/SANYA-95/summer-of-code-2023/blob/main/Multiple_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **UPLOAD DATA**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df= pd.read_csv('USA_cars_datasets-2.csv')
df.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

## **Data Cleaning**

removing unwanted columns

In [4]:
df= df.drop(['Unnamed: 0','vin', 'lot'], axis=1)
df.head()

,price,brand,model,year,title_status,mileage,color,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552.0,silver,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146.0,blue,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,florida,usa,22 hours left

removing unnecessary rows

In [6]:
df['price'].min()

0

In [7]:
df = df.drop(df.loc[df['price']==0].index)
df.head()

,price,brand,model,year,title_status,mileage,color,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552.0,silver,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146.0,blue,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,florida,usa,22 hours left

I want to focus more on the brand of a car rather than the model therefore lets remove the model column

In [9]:
data = df.copy()
data = data.drop(['model'], axis=1)
data.head()

,price,brand,year,title_status,mileage,color,state,country,condition
0,6300,toyota,2008,clean vehicle,274117.0,black,new jersey,usa,10 days left
1,2899,ford,2011,clean vehicle,190552.0,silver,tennessee,usa,6 days left
2,5350,dodge,2018,clean vehicle,39590.0,silver,georgia,usa,2 days left
3,25000,ford,2014,clean vehicle,64146.0,blue,virginia,usa,22 hours left
4,27700,chevrolet,2018,clean vehicle,6654.0,red,florida,usa,22 hours left

# ***MULTIPLE REGRESSION ***
### **Boundation** : Independent variable can be float type only

y = m<sub>1</sub>(x<sub>1</sub>) + m<sub>2</sub>(x<sub>2</sub>) +m<sub>3</sub>(x<sub>3</sub>) + b;  
Here m<sub>1</sub>, m<sub>2</sub>, m<sub>3</sub> are known as coefficients and b is the intercept, y is the dependent variable which is price here, and x's are independent variables

In [10]:
from sklearn import linear_model

In [15]:
reg = linear_model.LinearRegression()
## remember the syntx of reg.fit(), first we need to write the independent variables as data[['','','',...]] and dependenet variables as data.dep
reg.fit(data[['mileage','year']], data['price'])

LinearRegression()

In [18]:
reg.coef_
# this will give the coefficients of the linear equation given above

array([-5.37164334e-02,  9.60802365e+02])

In [17]:
reg.intercept_

-1916084.1901839788

### **Prediction of price using two independent variable (year, mileage) simultaneouly**

In [20]:
reg.predict([[200000,2013]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([7267.68328355])

In [22]:
reg.predict([[250000,2016]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([7464.2687078])